<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

   <div class="container-fluid main_header bgimg">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                
                <div class="col-md-6 col-12 main_header_leftt">
                    <h1>OOPS!</h1>
                    <h2>Something went wrong!</h2>
                    <p>Error 404! Page Not Found</p>
                    <a href="/"  > <button style="font-weight: bold;"> Go To HOME PAGE</button> </a>
                </div>
                
            </div>
        </div>
    </div>
   </div> 
   {{>footer}}
</body>
</html>