<footer>
    <div class="frame" >
      <a href="https://www.instagram.com/confusishika"  target="_blank" class="btn">
        <i class="fab fa-instagram" style="color: #3b5998"></i>
      </a>
      <a href="https://twitter.com/confusishika" target="_blank"  class="btn">
        <i class="fab fa-twitter" style="color: #00acee"></i>
      </a>
      
      <a href="https://www.linkedin.com/in/ishika-gupta-764036201" target="_blank"  class="btn">
        <i class="fab fa-linkedin-in" style="color: #0e76a8"></i>
      </a>
      <a href="https://youtube.com/channel/UCNtp6vY-OGgiNWmn7a9t3UQ" target="_blank"  class="btn">
        <i class="fab fa-youtube" style="color: #ee4056"></i>
      </a>
      <a href="mailto: worksatig@gmail.com" target="_blank"  class="btn">
        <i class="far fa-envelope"></i>
      </a>
    </div>
    
     <p  style="font-family: 'Comfortaa', cursive;">Created with ❤ by Ishika</p>
   </footer>